<!DOCTYPE html>
<html lang = "en" >
    <head>
        <title>Report pv and user simulation - CORE</title>
        <meta name="description" content="CORE simulation">
        <meta name="keywords" content="charging model with common PV">
        <!-- <link rel="stylesheet" href="report.css"> -->
    <style>
    @page{size: A4;
        margin: 1cm;
        box-sizing: border-box;
      }
    body{font-family: Verdana;}
    .h1{
      text-align: left;
      font-weight: bold;
      font-size: 14px;
    }
    
    .h2{
      font-weight: normal;
      font-size: 16px;
    }
    
    .h3{font-size:14px;
    font-weight: normal;
    }
    
    .h4{font-size: 12px;
      text-align: justify;
    }
    
    .page-break {
      page-break-after: always;
    }
  
    header {
      position: relative;
      top: 0;
      width:100%; 
      height:20px;
      border-bottom: solid black;
      }
    .header img{
      width: 20%;
      height: 70%;
      display: block;
      object-fit: contain;
        
    }

    footer{
      border-top:black;
      position: relative;
      bottom: 0;
      width:100%;
      height: 20px;
    }

    ul{font-size: 12px;
      text-align: left;
    }
      </style>
    </head>

<body>

<header><p>Verslag simulatie PV-model: originele auteur - CORE cv {{t}}</p></header>
<div>
  <img align="right" src="logoCORE.png" alt="Logo CORE" style="width:100%;height:30%;object-fit: contain;">
  <img align="right" src="ECoOB_logo_CMYK.png" alt="Logo ECoOB" style="width:50%;height:30%;object-fit: contain;">
</div>
<h4 style="font-weight:normal">Resultaten simulatie: {{simulation}}</h4>

<div class = "page-break"></div>

<p>
  <h4 style="text-align: justify; font-weight:normal">
    Dit verslag bevat de resultaten van simulatie {{simulation}}. <br><br>
    Hierbij wordt een appartementsgebouw met een gemeenschappelijke zonnepaneelinstallatie en x aantal laadpalen gesimuleerd voor een tijdsspanne van een 1 jaar. Met deze simulatie wordt de impact van verschillende types gebruikers en de capaciteitslimiet gevisualiseerd en wordt er inzicht gegeven in het eigenverbruik, kost en laadcomfort van een gebruiker.
    <br> 
    <br>
    Dit model is origineel ontworpen door studenten van de studentencooperatie CORE cv in opdracht van energiecooperatie ECoOB. CORE cv is niet verantwoordelijk voor de resultaten van deze simulatie en hoe deze geinterpreteerd of gebruikt worden, en kan dus bijgevolg in geen geval aansprakelijk gesteld worden. 
  <br>
  In het model wordt het onderscheid gemaakt tussen "domme sturing" en "slimme sturing". Domme sturing wilt zeggen dat alle auto's dit op een bepaald moment aan het laden zijn zoveel mogelijk vermogen krijgen als mogelijk, dus het beschikbare vermogen (afhankelijk van de capaciteitslimiet en zonneopbrengst) wordt gelijk verdeeld over alle auto's die aan het laden zijn. Bij slimme sturing wordt rekening gehouden met hoelang een auto nog aanwezig zal zijn, de zonne-opbrengst en eventueel dynamisch tarief. Niet elke auto krijgt dus zoveel mogelijk vermogen maar het vermogen wordt doorheen de tijd geoptimaliseerd.
    <br>
    Voor de duidelijkheid: kommagetallen worden weergegeven met een punt '.', dus 100.00 is gelijk aan honderd, geen honderduizend. 
  </h4>
</p>

<div class = "page-break"></div>

<div>
  <h1>Inputgegevens simulatie</h1>
  <p>
    <h4>
      Hieronder staan de gegevens eigen aan de simulatie, de parameters die zijn ingegeven bij het begin van de simulatie
    </h4>
  </p>
    <ul>
      {% for key, value in dict1.items() %}
        
        <li>{{key }}: {{value}} </li>

        
      {% endfor %}
    </ul>
</div>

<div class = "page-break"></div>

<div>
  <h1>Input gebruikers</h1>
  <p>
    <h4 style="font-weight:normal">
      Hieronder een overzicht weergegeven van de gesimuleerde gebruikers en het aantal per type gebruiker.
    </h4 >
  </p>
  <ul>
    {% for key, value in dict2.items() %}
      <li>Type: {{key }} - Aantal: {{value}} </li>
    {% endfor %}
  </ul>

  <h3>Gedetailleerde gegevens gebruikers</h3>
  <p>
    <h4 style="font-weight:normal">
      De simulatie kiest per type gebruiker altijd een random verbruiksprofiel uit een keuze van 3 (A, B of C), dit om meer variatie in de simulatie te brengen. Hieronder een gedetailleerd overzicht van de willekeurige gebruikers en het aantal.
    </h4>
  </p>
  <ul>    
    {% for key, value in dict3.items() %}
      <li>Type: {{key }} - Aantal: {{value}} </li>
    {% endfor %}
  </ul>
</div>
<div class = "page-break"></div>
<div>
  <h1>
    Resultaten systeem
  </h1>

    <h4 style="font-weight:normal">
      Hieronder de resultaten omtrent eigenverbruik, overschot aan energie en energiekost.
    </h4>

    <ul>    
        <h4> Resultaten met domme sturing</h4>
        <li>Zelfconsumptie {{list4[0]}} %</li>
        <li>Overschot energie {{list4[1]}} kWh/jaar</li>
        <li>totale energiekost {{list4[4]}} &euro;/jaar voor alle laadpunten</li>
        <h4> Resultaten met slimme sturing</h4>
        <li>Zelfconsumptie {{list4[2]}} %</li>
        <li>Overschot energie {{list4[3]}} kWh/jaar</li>
        <li>totale energiekost {{list4[5]}} &euro;/jaar voor alle laadpunten</li>
    </ul>
</div>

<div class = "page-break"></div>

<div>
  <h1>
    Resultaten simulatie per type gebruiker
  </h1>
    <h4 style="font-weight:normal">
      Hieronder de gemiddelde resultaten per type gebruiker, dus geen onderscheid tussen de willekeurige profielen (A,B,C). Van elk type wordt het gemiddelde genomen van de resultaten voor het totaal aantal types. 
    </h4>


  {%for list in list1%}
    <h3>Resultaten gebruikers van type {{list[0]}}, aantal = {{list[1]}}</h3>
    <ul>
        <h4> Resultaten met domme sturing</h4>
        <li>Gemiddeld energiegebruik {{list[2]}} kWh</li>
        <li>Gemiddelde energiekost {{list[3]}} &euro;</li>
        <li>Gemiddeld comfort {{list[4]}}</li>
        <h4> Resultaten met slimme sturing</h4>
        <li>Gemiddeld energiegebruik {{list[5]}} kWh</li>
        <li>Gemiddelde energiekost {{list[6]}} &euro;</li>
        <li>Gemiddeld comfort {{list[7]}}</li>
    </ul>

  {%endfor%}
</div>
<!--De lijnen hieronder zouden de resultaten per user printen in de pdf, deze zijn op dit moment in comments gezet omdat de pdf anders heel snel heel lang wordt (190 users = 57 pagina's) -->

<!-- <div class = "page-break"></div> -->
<!-- <h1>resultaten simulatie per gebruiker</h1>
{%for list in list2%}
<h3>Resultaten gebruiker {{list[7]}} met type {{list[0]}}</h3>
<ul>
    <h4> Resultaten met domme sturing</h4>
    <li>Totaal energiegebruik {{list[1]}} kWh</li>
    <li>Totale energiekost {{list[2]}} &euro;</li>
    <li>Gemiddeld comfort {{list[3]}}</li>
<h4> Resultaten met slimme sturing</h4>
    <li>Totaal energiegebruik {{list[4]}} kWh</li>
    <li>Totale energiekost {{list[5]}} &euro;</li>
    <li>Gemiddeld comfort {{list[6]}}</li>
</ul>

{%endfor%} -->


<footer>
  <h4>CORE cv - mail: info@thinkcore.be - website: thinkcore.be - instagram: @thinkcore - LinkedIn: CORE cv</h4>

</footer>
</body>
</html>